@font-face {
  font-family: OrenburgC;
  font-display: swap;
  src: url("../fonts/OrenburgC-Bold.woff2") format("woff2"), url("../fonts/OrenburgC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: OrenburgC;
  font-display: swap;
  src: url("../fonts/OrenburgC.woff2") format("woff2"), url("../fonts/OrenburgC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RobotoMono;
  font-display: swap;
  src: url("../fonts/RobotoMono-VariableFont_wght.woff2") format("woff2"), url("../fonts/RobotoMono-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "OrenburgC", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "OrenburgC", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #2f2f39;
  color: #fff;
  position: relative;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -1;
}
body#hatka-home::before {
  background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.2) 0%, #2f2f39 96.37%), url("../img/hatka/home/hero/bg.jpg");
}
@media (max-width: 47.99875em) {
  body#hatka-home::before {
    height: 40%;
    background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.5) 0%, #2f2f39 100%), url("../img/hatka/home/hero/bg.jpg");
    background-size: 160% auto;
    background-position: top right 33%;
  }
}
body#hatka-search::before {
  background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.2) 0%, #2f2f39 96.37%), url("../img/hatka/search/hero/bg.jpg");
}
@media (max-width: 47.99875em) {
  body#hatka-search::before {
    height: 70%;
    background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.5) 0%, #2f2f39 100%), url("../img/hatka/search/hero/bg.jpg");
    background-size: 250% auto;
    background-position: top left;
  }
}
body#hatka-proto::before {
  background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.2) 0%, #2f2f39 96.37%), url("../img/hatka/proto/hero/bg.jpg");
}
@media (max-width: 47.99875em) {
  body#hatka-proto::before {
    height: 55%;
    background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.5) 0%, #2f2f39 100%), url("../img/hatka/proto/hero/bg.jpg");
    background-size: 200% auto;
    background-position: top left;
  }
}
body#hatka-brand::before {
  background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.2) 0%, #2f2f39 96.37%), url("../img/hatka/brand/hero/bg.jpg");
}
@media (max-width: 47.99875em) {
  body#hatka-brand::before {
    height: 65%;
    background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.5) 0%, #2f2f39 100%), url("../img/hatka/brand/hero/bg.jpg");
    background-size: 200% auto;
    background-position: top left;
  }
}
body#hatka-design::before {
  background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.2) 0%, #2f2f39 96.37%), url("../img/hatka/design/hero/bg.jpg");
}
@media (max-width: 47.99875em) {
  body#hatka-design::before {
    height: 65%;
    background-image: linear-gradient(180deg, rgba(126, 126, 153, 0.5) 0%, #2f2f39 100%), url("../img/hatka/design/hero/bg.jpg");
    background-size: 200% auto;
    background-position: top left;
  }
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 87.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized .swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-scrollbar {
  width: 100%;
  height: 1px;
  background: #fff;
}

.swiper-scrollbar-drag {
  width: 25%;
  height: 5px;
  background: #fff;
  position: relative;
  bottom: 4px;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

@supports (font-size: clamp( 1rem , 0.8021582734rem  +  0.9892086331vw , 1.6875rem )) {
  .text {
    font-size: clamp( 1rem , 0.8021582734rem  +  0.9892086331vw , 1.6875rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.8021582734rem  +  0.9892086331vw , 1.6875rem )) {
  .text {
    font-size: calc(1rem + 0.6875 * (100vw - 20rem) / 69.5);
  }
}
@supports (line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem )) {
  .text {
    line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem );
  }
}
@supports not (line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem )) {
  .text {
    line-height: calc(1.75rem + 0.5625 * (100vw - 20rem) / 69.5);
  }
}
.text_small {
  font-size: 17px;
  line-height: 29px;
}
@media (max-width: 47.99875em) {
  .text_small {
    font-size: 16px;
    line-height: 27px;
  }
}
.text_dark {
  color: #2f2f39;
}

.title {
  color: #fff;
  font-weight: 700;
}
@supports (font-size: clamp( 1.625rem , 1.3192446043rem  +  1.5287769784vw , 2.6875rem )) {
  .title {
    font-size: clamp( 1.625rem , 1.3192446043rem  +  1.5287769784vw , 2.6875rem );
  }
}
@supports not (font-size: clamp( 1.625rem , 1.3192446043rem  +  1.5287769784vw , 2.6875rem )) {
  .title {
    font-size: calc(1.625rem + 1.0625 * (100vw - 20rem) / 69.5);
  }
}
@supports (line-height: clamp( 2.25rem , 1.8363309353rem  +  2.0683453237vw , 3.6875rem )) {
  .title {
    line-height: clamp( 2.25rem , 1.8363309353rem  +  2.0683453237vw , 3.6875rem );
  }
}
@supports not (line-height: clamp( 2.25rem , 1.8363309353rem  +  2.0683453237vw , 3.6875rem )) {
  .title {
    line-height: calc(2.25rem + 1.4375 * (100vw - 20rem) / 69.5);
  }
}
@media (max-width: 47.99875em) {
  .title_bigger {
    font-size: 30px;
    line-height: 39px;
  }
}
.title_dark {
  color: #2f2f39;
}

.subtitle {
  color: #fff;
  font-weight: 700;
}
@supports (font-size: clamp( 1.25rem , 1.1420863309rem  +  0.5395683453vw , 1.625rem )) {
  .subtitle {
    font-size: clamp( 1.25rem , 1.1420863309rem  +  0.5395683453vw , 1.625rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.1420863309rem  +  0.5395683453vw , 1.625rem )) {
  .subtitle {
    font-size: calc(1.25rem + 0.375 * (100vw - 20rem) / 69.5);
  }
}
@supports (line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem )) {
  .subtitle {
    line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem );
  }
}
@supports not (line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem )) {
  .subtitle {
    line-height: calc(1.75rem + 0.5625 * (100vw - 20rem) / 69.5);
  }
}
.subtitle_yellow {
  color: #feff55;
}
.subtitle_thin {
  font-weight: 400;
}
.subtitle_noshrink {
  font-size: 26px;
  line-height: 1.4230769231;
}

.image {
  max-width: 100%;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info-block_small {
  max-width: 840px;
  width: 100%;
}
.info-block_horizontal {
  display: flex;
  margin: 0 -30px;
}
.info-block_horizontal > * {
  padding: 0 30px;
  flex: 0 1 50%;
}
@media (max-width: 47.99875em) {
  .info-block_horizontal {
    flex-direction: column;
    margin: 0;
  }
  .info-block_horizontal > * {
    padding: 0;
    flex: 1 1 100%;
  }
}
.info-block__button {
  margin-left: 16px;
  width: 100%;
}
@media (max-width: 89.5em) {
  .info-block__button {
    max-width: none;
    padding-right: 16px;
    margin-left: 16px;
  }
}
@media (max-width: 47.99875em) {
  .info-block__button {
    margin-left: 10px;
    padding-right: 10px;
  }
}

.button-air {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.button-air__body {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #2f2f39;
  cursor: pointer;
}
.button-air__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #feff55;
  transform: translate(-16px, 16px);
  transition: transform 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .button-air__body::after {
    transform: translate(-10px, 10px);
  }
}
.button-air__body:active::after {
  transform: translate(-9px, 9px);
}
.button-air__body:active span {
  transform: translate(-3px, 3px);
}
.button-air__text {
  color: #2f2f39;
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 21px;
  line-height: 1.5238095238;
  padding: 25px 45px;
  transition: transform 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .button-air__text {
    font-size: 17px;
    padding: 18px 25px;
  }
}

.project-request {
  width: 100%;
}
.project-request__body {
  height: 100%;
  width: 100%;
  padding: 120px 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/icons/yo.svg") left -3% bottom no-repeat, url("../img/icons/zigzag.svg") right 13% center no-repeat, linear-gradient(to bottom, #cdcdcf, #cdcdcf);
  text-align: center;
}
@media (max-width: 61.99875em) {
  .project-request__body {
    background: url("../img/icons/yo.svg") left -1% bottom -10%/215px 145px no-repeat, linear-gradient(to bottom, #cdcdcf, #cdcdcf);
  }
}
@media (max-width: 47.99875em) {
  .project-request__body {
    padding: 80px 8px 170px;
  }
}
.project-request__thank {
  margin-bottom: 10px;
}
.project-request__callfor {
  margin-bottom: 30px;
  font-weight: 700;
  color: #000;
}
@supports (font-size: clamp( 1.875rem , 1.3534172662rem  +  2.6079136691vw , 3.6875rem )) {
  .project-request__callfor {
    font-size: clamp( 1.875rem , 1.3534172662rem  +  2.6079136691vw , 3.6875rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.3534172662rem  +  2.6079136691vw , 3.6875rem )) {
  .project-request__callfor {
    font-size: calc(1.875rem + 1.8125 * (100vw - 20rem) / 69.5);
  }
}
@supports (line-height: clamp( 2.4375rem , 1.7540467626rem  +  3.4172661871vw , 4.8125rem )) {
  .project-request__callfor {
    line-height: clamp( 2.4375rem , 1.7540467626rem  +  3.4172661871vw , 4.8125rem );
  }
}
@supports not (line-height: clamp( 2.4375rem , 1.7540467626rem  +  3.4172661871vw , 4.8125rem )) {
  .project-request__callfor {
    line-height: calc(2.4375rem + 2.375 * (100vw - 20rem) / 69.5);
  }
}
@media (max-width: 29.99875em) {
  .project-request__callfor {
    margin-bottom: 50px;
  }
}
.project-request__button {
  max-width: 450px;
}
@media (max-width: 47.99875em) {
  .project-request__button {
    padding-left: 10px;
  }
}

.breadcrumps__link {
  position: relative;
  display: inline-block;
  padding-left: 60px;
  color: #d2d2d2;
}
.breadcrumps__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  transform: translate(0, 10px);
  width: 40px;
  height: 16px;
  background: url("../img/icons/arrow-left.svg") center no-repeat;
  z-index: 1;
}
@media (max-width: 47.99875em) {
  .breadcrumps__link::before {
    transform: translate(0, 5px);
  }
}

.item-tag {
  display: inline-block;
  padding: 6px 10px;
  background: #505060;
}

.hide-scroll {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.hide-scroll::-webkit-scrollbar-track {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: transparent;
}
.hide-scroll::-webkit-scrollbar {
  width: 1px !important;
  background-color: transparent;
}
.hide-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

div[class*=__image_desktop] {
  display: none;
}
@media (min-width: 47.99875em) {
  div[class*=__image_desktop] {
    display: block;
  }
}

div[class*=__image_mobile] {
  display: block;
}
@media (min-width: 47.99875em) {
  div[class*=__image_mobile] {
    display: none;
  }
}

div[class*=__container_1060] {
  max-width: 1060px;
}

div[class*=__container_1120] {
  max-width: 1120px;
}

div[class*=__container_1180] {
  max-width: 1180px;
}

div[class*=__container_1240] {
  max-width: 1240px;
}

div[class*=__container_1260] {
  max-width: 1260px;
}

div[class*=__container_1290] {
  max-width: 1290px;
}

div[class*=__container_1360] {
  max-width: 1360px;
}

div[class*=__container_1400] {
  max-width: 1400px;
}

div[class*=__container_1500] {
  max-width: 1540px;
}

div[class*=__container_1570] {
  max-width: 1570px;
}

div[class*=__container_1620] {
  max-width: 1620px;
}

div[class*=__container_mobile] {
  max-width: none;
  padding: 0;
}
@media (max-width: 47.99875em) {
  div[class*=__container_mobile] {
    padding: 0 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header_desc {
  display: none;
}
@media (min-width: 47.99875em) {
  .header_desc {
    display: block;
  }
}
.header_mob {
  display: none;
}
@media (max-width: 47.99875em) {
  .header_mob {
    display: block;
  }
}

.footer_desc {
  display: none;
}
@media (min-width: 47.99875em) {
  .footer_desc {
    display: block;
  }
}
.footer_mob {
  display: none;
}
@media (max-width: 47.99875em) {
  .footer_mob {
    display: block;
  }
}

.more-about-project__container {
  max-width: 1120px;
}
.more-about-project__title {
  margin-bottom: 40px;
}
.more-about-project__title_center {
  text-align: center;
}
@media (max-width: 47.99875em) {
  .more-about-project__title {
    margin-bottom: 15px;
    text-align: left;
  }
}
.more-about-project__row {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  height: 100%;
}
@media (max-width: 89.5em) {
  .more-about-project__row {
    flex-wrap: wrap;
    margin: 0 -5px;
    padding: 0 16px;
  }
}
.more-about-project__item {
  flex: 0 0 375px;
  max-width: 375px;
  width: 100%;
  min-height: 100%;
}
@media (max-width: 89.5em) {
  .more-about-project__item {
    flex: 0 1 50%;
    margin-bottom: 10px;
    padding: 0 5px;
  }
}
@media (max-width: 47.99875em) {
  .more-about-project__item {
    flex: 1 1 100%;
    max-width: none;
    width: 100%;
  }
}

.item-more-project__link {
  display: block;
  height: 100%;
}
.item-more-project__card {
  min-height: 100%;
}

.card-project {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-project__image {
  max-width: 100%;
  width: 100%;
}
.card-project__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-project__body {
  flex: 1 1 auto;
  height: 100%;
  padding: 26px 30px 30px;
  background: #eee;
  color: #2f2f39;
}
.card-project__body_grey {
  background: #d2d2d2;
}
.card-project__body_white {
  background: #fff;
}
.card-project__body_dark {
  color: #fff;
  background: #40404c;
}
@media (max-width: 29.99875em) {
  .card-project__body {
    padding: 24px 16px;
  }
}
.card-project__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3846153846;
}
@media (max-width: 47.99875em) {
  .card-project__title {
    font-size: 20px;
    line-height: 1.4;
  }
}
.card-project__descr {
  font-size: 17px;
  line-height: 1.7058823529;
}

.you-read-about__image {
  max-width: 100%;
  width: 100%;
}
.you-read-about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-block__breadcrumps {
  margin-left: -60px;
  margin-bottom: 53px;
}
@media (max-width: 89.5em) {
  .hero-block__breadcrumps {
    margin-left: 0;
  }
}
@media (max-width: 47.99875em) {
  .hero-block__breadcrumps {
    margin-bottom: 24px;
  }
}
.hero-block__info {
  max-width: 840px;
  width: 100%;
}
.hero-block__image {
  margin-top: 35px;
}
@media (max-width: 47.99875em) {
  .hero-block__image {
    margin-top: 20px;
  }
}

.info-hero__title {
  margin-bottom: 25px;
  font-weight: 700;
}
@supports (font-size: clamp( 1.875rem , 1.3534172662rem  +  2.6079136691vw , 3.6875rem )) {
  .info-hero__title {
    font-size: clamp( 1.875rem , 1.3534172662rem  +  2.6079136691vw , 3.6875rem );
  }
}
@supports not (font-size: clamp( 1.875rem , 1.3534172662rem  +  2.6079136691vw , 3.6875rem )) {
  .info-hero__title {
    font-size: calc(1.875rem + 1.8125 * (100vw - 20rem) / 69.5);
  }
}
@supports (line-height: clamp( 2.4375rem , 1.8799460432rem  +  2.7877697842vw , 4.375rem )) {
  .info-hero__title {
    line-height: clamp( 2.4375rem , 1.8799460432rem  +  2.7877697842vw , 4.375rem );
  }
}
@supports not (line-height: clamp( 2.4375rem , 1.8799460432rem  +  2.7877697842vw , 4.375rem )) {
  .info-hero__title {
    line-height: calc(2.4375rem + 1.9375 * (100vw - 20rem) / 69.5);
  }
}
@media (max-width: 47.99875em) {
  .info-hero__title {
    margin-bottom: 15px;
  }
}
.page__hero {
  margin-bottom: 130px;
}
@supports (padding-top: clamp( 3.125rem , 1.6861510791rem  +  7.1942446043vw , 8.125rem )) {
  .page__hero {
    padding-top: clamp( 3.125rem , 1.6861510791rem  +  7.1942446043vw , 8.125rem );
  }
}
@supports not (padding-top: clamp( 3.125rem , 1.6861510791rem  +  7.1942446043vw , 8.125rem )) {
  .page__hero {
    padding-top: calc(3.125rem + 5 * (100vw - 20rem) / 69.5);
  }
}
@media (max-width: 47.99875em) {
  .page__hero {
    margin-bottom: 120px;
  }
}
.page__more {
  margin-bottom: 85px;
}
@media (max-width: 47.99875em) {
  .page__more {
    margin-bottom: 120px;
  }
}
.page__request {
  margin-bottom: 130px;
}
@media (max-width: 47.99875em) {
  .page__request {
    margin-bottom: 120px;
  }
}
.page__nav {
  margin-bottom: 130px;
}
@media (max-width: 47.99875em) {
  .page__nav {
    margin-bottom: 120px;
  }
}

.nav-page {
  width: 100%;
}
.nav-page__container {
  width: 100%;
}
.nav-page__image {
  width: 100%;
}
.nav-page__image img {
  max-width: 100%;
  height: 100%;
}

@media (max-width: 89.5em) {
  .home-about__creation-history {
    margin-bottom: 120px;
  }
}
.home-about__team-work {
  margin-bottom: 130px;
}
@media (max-width: 47.99875em) {
  .home-about__team-work {
    margin-bottom: 120px;
  }
}
.home-about__handy-catalog {
  margin-bottom: 195px;
}
@media (max-width: 89.5em) {
  .home-about__handy-catalog {
    margin-bottom: 120px;
  }
}
.home-about__order-flow {
  margin-bottom: 195px;
}
@media (max-width: 89.5em) {
  .home-about__order-flow {
    margin-bottom: 120px;
  }
}
.home-about__account-func {
  margin-bottom: 30px;
}
.home-about__clients-reviews {
  margin-bottom: 150px;
}
@media (max-width: 89.5em) {
  .home-about__clients-reviews {
    margin-bottom: 120px;
  }
}
.home-about__project-technologies {
  margin-bottom: 150px;
}
@media (max-width: 89.5em) {
  .home-about__project-technologies {
    margin-bottom: 120px;
  }
}

.creation-history__body {
  display: flex;
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .creation-history__body {
    flex-direction: column;
  }
}
.creation-history__info {
  flex: 0 1 560px;
  max-width: 560px;
  width: 100%;
  margin-right: 90px;
}
@media (max-width: 89.5em) {
  .creation-history__info {
    margin-right: 30px;
  }
}
@media (max-width: 47.99875em) {
  .creation-history__info {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.creation-history__content {
  flex: 610px;
  max-width: 610px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .creation-history__content {
    flex: 1 1 100%;
    padding: 0 11.71875%;
  }
}
.info-history > *:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 47.99875em) {
  .info-history > *:not(:last-child) {
    margin-bottom: 25px;
  }
}
.info-history__heading {
  margin-bottom: 12px;
}
@media (max-width: 47.99875em) {
  .info-history__heading {
    margin-bottom: 4px;
  }
}

@media (min-width: 89.5em) {
  .team-work {
    margin-top: -80px;
    background: url("../img/icons/yo-big.svg") left -76% top 50px no-repeat;
  }
}
.team-work__container {
  overflow-x: scroll;
}
.team-work__title {
  max-width: 740px;
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 47.99875em) {
  .team-work__title {
    margin-bottom: 24px;
  }
}
.team-work__image {
  width: 100%;
  max-width: 100%;
  margin: 0 -15px;
}
.team-work__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 89.5em) {
  .team-work__image {
    margin: 0;
  }
}
@media (max-width: 47.99875em) {
  .team-work__image {
    max-width: none;
    width: 170%;
  }
}

.handy-catalog__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .handy-catalog__inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
.handy-catalog__info {
  flex: 0 1 500px;
  max-width: 500px;
  width: 100%;
  padding-left: 60px;
  margin-right: 80px;
}
@media (max-width: 89.5em) {
  .handy-catalog__info {
    padding-left: 0;
  }
}
@media (max-width: 61.99875em) {
  .handy-catalog__info {
    margin-right: 30px;
  }
}
@media (max-width: 47.99875em) {
  .handy-catalog__info {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.handy-catalog__heading {
  margin-bottom: 24px;
}
.handy-catalog__content {
  flex: 0 1 840px;
  max-width: 840px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .handy-catalog__content {
    flex: 1 1 100%;
  }
}
.order-flow__info-block {
  margin-left: auto;
  margin-right: 190px;
  flex: 0 1 420px;
  max-width: 420px;
  width: 100%;
}
@media (max-width: 89.5em) {
  .order-flow__info-block {
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: auto;
    flex: 0 1 840px;
    max-width: 840px;
    width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .order-flow__info-block {
    max-width: none;
    margin-right: 0;
    margin-bottom: 24px;
  }
}
.order-flow__heading {
  margin-bottom: 24px;
}
.order-flow__content {
  margin-top: -16%;
  padding-left: 140px;
}
@media (max-width: 89.5em) {
  .order-flow__content {
    margin-top: 0;
    padding-left: 0;
  }
}

.account-func__intro {
  margin-bottom: 95px;
}
@media (max-width: 61.99875em) {
  .account-func__intro {
    margin-bottom: 55px;
  }
}
@media (max-width: 47.99875em) {
  .account-func__heading {
    margin-bottom: 8px;
  }
}
.account-func__slider {
  padding-left: 8.5714285714%;
}
@media (max-width: 61.99875em) {
  .account-func__slider {
    padding-left: 16px;
  }
}
@media (max-width: 48em) {
  .account-func__slider {
    padding-right: 16px;
  }
}
.account-func__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1432px;
  margin: 16px auto 0 0;
  margin-right: auto;
}
@media (max-width: 100em) {
  .account-func__controls {
    max-width: none;
    padding-right: 16px;
  }
}
@media (max-width: 61.99875em) {
  .account-func__controls {
    margin-top: 35px;
  }
}
@media (max-width: 47.99875em) {
  .account-func__controls {
    padding-right: 0;
  }
}
.account-func__scroll {
  width: 100%;
  height: 5px;
}
.account-func__paggination {
  margin-left: 77px;
  flex: 0 0 215px;
}
@media (max-width: 62em) {
  .account-func__paggination {
    margin-bottom: 40px;
    margin-left: auto;
  }
}

.paggination-servers {
  padding: 65px 0;
}
@media (max-width: 62em) {
  .paggination-servers {
    padding: 0;
    padding-right: 16px;
  }
}
@media (max-width: 47.99875em) {
  .paggination-servers {
    padding: 0;
  }
}
.paggination-servers__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 62em) {
  .paggination-servers__inner {
    justify-content: flex-end;
  }
}
.paggination-servers__prev {
  margin-right: 26px;
}
.paggination-servers__next {
  position: relative;
}
.paggination-servers__next::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #40404d;
  transform: translate(54px, -50%);
  z-index: -1;
}
@media (max-width: 61.99875em) {
  .paggination-servers__next::after {
    display: none;
  }
}

.clients-reviews__container {
  max-width: 1260px;
}
.clients-reviews__inner {
  display: flex;
}
@media (max-width: 89.5em) {
  .clients-reviews__inner {
    flex-direction: column;
  }
}
.clients-reviews__client-part {
  flex: 0 1 560px;
  max-width: 560px;
  width: 100%;
  margin-right: 40px;
}
@media (max-width: 89.5em) {
  .clients-reviews__client-part {
    flex: 1 1 100%;
    max-width: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 55px;
  }
}
.clients-reviews__agency-part {
  flex: 0 1 660px;
  max-width: 660px;
  width: 100%;
}
@media (max-width: 89.5em) {
  .clients-reviews__agency-part {
    flex: 1 1 100%;
    max-width: none;
    width: 100%;
  }
}

.client-part__title {
  margin-bottom: 33px;
  text-align: right;
}
@media (max-width: 47.99875em) {
  .client-part__title {
    text-align: left;
  }
}
.client-part__body {
  display: flex;
  flex-direction: column;
}
@media (max-width: 89.5em) {
  .client-part__body {
    flex-direction: row;
    margin: 0 -20px;
  }
}
@media (max-width: 61.99875em) {
  .client-part__body {
    flex-direction: column;
    margin: 0;
  }
}
.client-part__item:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 89.5em) {
  .client-part__item {
    padding: 0 20px;
    flex: 0 1 50%;
  }
}
@media (max-width: 61.99875em) {
  .client-part__item {
    padding: 0;
    flex: 1 1 100%;
  }
}
.client-part__person {
  display: flex;
}
.client-part__avatar {
  flex: 0 0 140px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 70px;
}
@media (max-width: 47.99875em) {
  .client-part__avatar {
    width: 52px;
    height: 52px;
    flex: 0 0 52px;
    margin-right: 5px;
  }
}
.client-part__name {
  margin-bottom: 6px;
}
@supports (font-size: clamp( 1rem , 0.8021582734rem  +  0.9892086331vw , 1.6875rem )) {
  .client-part__name {
    font-size: clamp( 1rem , 0.8021582734rem  +  0.9892086331vw , 1.6875rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.8021582734rem  +  0.9892086331vw , 1.6875rem )) {
  .client-part__name {
    font-size: calc(1rem + 0.6875 * (100vw - 20rem) / 69.5);
  }
}
@supports (line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem )) {
  .client-part__name {
    line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem );
  }
}
@supports not (line-height: clamp( 1.75rem , 1.5881294964rem  +  0.809352518vw , 2.3125rem )) {
  .client-part__name {
    line-height: calc(1.75rem + 0.5625 * (100vw - 20rem) / 69.5);
  }
}
.client-part__post {
  color: #d2d2d2;
}
.client-part__quote {
  padding: 30px;
  background: #d2d2d2;
  margin-left: 210px;
  margin-top: -50px;
  position: relative;
}
.client-part__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 45px 32px 0;
  border-color: transparent #d2d2d2 transparent transparent;
  transform: translate(-100%, 0);
}
@media (max-width: 67.5em) {
  .client-part__quote {
    margin-top: 0;
  }
}
@media (max-width: 47.99875em) {
  .client-part__quote {
    padding: 24px 16px 38px;
    margin-left: 50px;
    margin-top: 10px;
  }
}

.agency-part {
  padding: 137px 70px 137px 100px;
  background: #d2d2d2;
  color: #2f2f39;
  position: relative;
}
.agency-part::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 90px 90px 0;
  border-color: transparent #2f2f39 transparent transparent;
}
@media (max-width: 47.99875em) {
  .agency-part::before {
    border-width: 0 40px 40px 0;
  }
}
@media (max-width: 47.99875em) {
  .agency-part {
    padding: 64px 20px 147px;
  }
}
.agency-part__title {
  position: relative;
  margin-bottom: 55px;
}
@media (max-width: 47.99875em) {
  .agency-part__title {
    margin-bottom: 35px;
  }
}
.agency-part__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #2f2f39;
}
.agency-part__text:not(:last-child) {
  margin-bottom: 15px;
}

.project-technologies__title {
  margin-bottom: 44px;
}
@media (max-width: 47.99875em) {
  .project-technologies__title {
    margin-bottom: 24px;
  }
}
.project-technologies__row {
  display: flex;
  width: 100%;
}
@media (max-width: 89.5em) {
  .project-technologies__row {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.project-technologies__item {
  flex: 0 0 140px;
}
@media (max-width: 89.5em) {
  .project-technologies__item {
    margin-bottom: 16px;
  }
}

.item-technology {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-technology__image {
  width: 80px;
  height: 80px;
  margin-bottom: 23px;
}
.item-technology__image img {
  max-width: 100%;
}
.item-technology__name {
  font-size: 21px;
  line-height: 32px;
}

.search-about__branches {
  margin-bottom: 150px;
}
@media (max-width: 61.99875em) {
  .search-about__branches {
    margin-bottom: 120px;
  }
}
.search-about__target-group {
  margin-bottom: 150px;
}
@media (max-width: 61.99875em) {
  .search-about__target-group {
    margin-bottom: 120px;
  }
}
.search-about__analogs {
  margin-bottom: 150px;
}
@media (max-width: 61.99875em) {
  .search-about__analogs {
    margin-bottom: 120px;
  }
}
.search-about__flow {
  margin-bottom: 150px;
}
@media (max-width: 61.99875em) {
  .search-about__flow {
    margin-bottom: 120px;
  }
}

.search-branches__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 -15px;
}
@media (max-width: 47.99875em) {
  .search-branches__inner {
    flex-direction: column;
  }
}
.search-branches__column {
  flex: 0 1 560px;
  max-width: 560px;
  width: 100%;
  padding: 0 15px;
}
@media (max-width: 47.99875em) {
  .search-branches__column {
    flex: 1 1 100%;
    max-width: none;
  }
  .search-branches__column:not(:last-child) {
    margin-bottom: 64px;
  }
}
.search-branches__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .search-branches__heading {
    margin-bottom: 24px;
  }
}

.target-group {
  padding: 0 10px;
}
@media (max-width: 89.5em) {
  .target-group {
    padding: 0;
  }
}
.target-group__intro {
  max-width: 840px;
  width: 100%;
  margin-bottom: 64px;
  padding-left: 50px;
}
@media (max-width: 89.5em) {
  .target-group__intro {
    padding-left: 0;
  }
}
@media (max-width: 47.99875em) {
  .target-group__intro {
    margin-bottom: 24px;
  }
}
.target-group__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .target-group__heading {
    margin-bottom: 24px;
  }
}
.customers-group__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .customers-group__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.customers-group__item {
  flex: 0 1 375px;
  max-width: 375px;
  width: 100%;
}
.customers-group__item:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 61.99875em) {
  .customers-group__item {
    margin-bottom: 16px;
  }
  .customers-group__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 52.5em) {
  .customers-group__item {
    flex: 1 1 100%;
    max-width: none;
  }
  .customers-group__item:not(:last-child) {
    margin-right: 0;
  }
  .customers-group__item br {
    display: none;
  }
}
.search-analogs {
  position: relative;
}
.search-analogs::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 51.125rem;
  height: 37.4375rem;
  transform: translate(0, -15%);
  background: url("../img/icons/yo-big.svg") no-repeat;
  background-size: contain;
}
@media (max-width: 47.99875em) {
  .search-analogs::before {
    display: none;
  }
}
.search-analogs__intro {
  position: relative;
  z-index: 1;
  margin-bottom: 62px;
}
@media (max-width: 47.99875em) {
  .search-analogs__intro {
    margin-bottom: 24px;
  }
}
.search-analogs__info-block {
  max-width: 840px;
  width: 100%;
}
.search-analogs__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .search-analogs__heading {
    margin-bottom: 24px;
  }
}
.search-analogs__content {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
@media (max-width: 47.99875em) {
  .search-analogs__content {
    margin-bottom: 32px;
  }
}
.search-analogs__description {
  position: relative;
  z-index: 1;
}
.search-analogs__text {
  max-width: 840px;
  width: 100%;
  color: #595964;
}

.search-flow__container {
  overflow: scroll;
}
.search-flow__intro {
  margin-bottom: 90px;
}
@media (max-width: 61.99875em) {
  .search-flow__intro {
    margin-bottom: 24px;
  }
}
.search-flow__info-block {
  max-width: 840px;
  width: 100%;
}
.search-flow__heading {
  margin-bottom: 35px;
  max-width: 600px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .search-flow__heading {
    margin-bottom: 24px;
  }
}
@media (max-width: 47.99875em) {
  .search-flow__image {
    max-width: none;
    width: 135%;
  }
}

.proto-about__structure {
  margin-bottom: 150px;
}
@media (max-width: 47.99875em) {
  .proto-about__structure {
    margin-bottom: 120px;
  }
}
.proto-about__visual {
  margin-bottom: 150px;
}
@media (max-width: 89.5em) {
  .proto-about__visual {
    margin-bottom: 90px;
  }
}
@media (max-width: 47.99875em) {
  .proto-about__visual {
    margin-bottom: 32px;
  }
}
.proto-about__main-page {
  margin-bottom: 155px;
}
@media (max-width: 47.99875em) {
  .proto-about__main-page {
    margin-bottom: 80px;
  }
}
.proto-about__catalog-elements {
  margin-bottom: 175px;
}
@media (max-width: 61.99875em) {
  .proto-about__catalog-elements {
    margin-bottom: 120px;
  }
}
.proto-about__comparing {
  margin-bottom: 120px;
}
@media (max-width: 47.99875em) {
  .proto-about__comparing {
    margin-bottom: 80px;
  }
}
.proto-about__ordering {
  margin-bottom: 120px;
}
@media (max-width: 47.99875em) {
  .proto-about__ordering {
    margin-bottom: 80px;
  }
}
.proto-about__mobile {
  margin-bottom: 150px;
}
@media (max-width: 47.99875em) {
  .proto-about__mobile {
    margin-bottom: 120px;
  }
}

.proto-structure__container {
  overflow-x: scroll;
  background: url("../img/hatka/proto/structure/1-bg.png") bottom right -5% no-repeat;
}
@media (max-width: 47.99875em) {
  .proto-structure__container {
    background: none;
  }
}
.proto-structure__intro {
  max-width: 840px;
  width: 100%;
  margin-bottom: 56px;
}
@media (max-width: 47.99875em) {
  .proto-structure__intro {
    margin-bottom: 24px;
  }
}
.proto-structure__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .proto-structure__heading {
    margin-bottom: 24px;
  }
}
.proto-structure__image {
  max-width: 945px;
}
@media (max-width: 47.99875em) {
  .proto-structure__image {
    max-width: none;
    width: 125%;
  }
}

.main-page-proto__info {
  margin-bottom: 60px;
}
.main-page-proto__title {
  margin-bottom: 20px;
}
.main-page-proto__text {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .main-page-proto__text {
    flex-direction: column;
  }
}
.main-page-proto__paragraph {
  flex: 0 1 540px;
  max-width: 540px;
  width: 100%;
}
.main-page-proto__paragraph:first-child {
  margin-right: 30px;
}
@media (max-width: 47.99875em) {
  .main-page-proto__paragraph {
    flex: 1 1 100%;
    max-width: none;
  }
  .main-page-proto__paragraph:first-child {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 47.99875em) {
  .main-page-proto__content {
    padding: 0 16px;
  }
}

.catalog-elements__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .catalog-elements__inner {
    flex-direction: column-reverse;
  }
}
.catalog-elements__image {
  flex: 0 1 70.4761904762%;
  margin-right: 20px;
}
@media (max-width: 61.99875em) {
  .catalog-elements__image {
    margin-right: 0;
  }
}
.catalog-elements__info {
  flex: 0 1 280px;
  max-width: 280px;
  width: 100%;
}
@media (max-width: 61.99875em) {
  .catalog-elements__info {
    flex: 1 1 100%;
    max-width: none;
    margin-bottom: 33px;
  }
}
.catalog-elements__heading {
  margin-bottom: 20px;
}
@media (max-width: 47.99875em) {
  .catalog-elements__heading {
    margin-bottom: 5px;
  }
}

.proto-comparing__inner {
  display: flex;
}
.proto-comparing__info {
  flex: 0 1 415px;
  max-width: 415px;
  width: 100%;
}
.proto-comparing__heading {
  margin-bottom: 20px;
}
@media (max-width: 47.99875em) {
  .proto-comparing__heading {
    margin-bottom: 5px;
  }
}
.proto-comparing__content {
  flex: 0 1 810px;
  max-width: 810px;
  width: 100%;
}

.proto-comparing__container {
  position: relative;
}
.proto-comparing__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 54.375rem;
  height: 34.3125rem;
  transform: translate(100px, -65%);
  background: url("../img/icons/yoldi-waved-big.svg") no-repeat;
  background-size: contain;
  z-index: -1;
}
@media (max-width: 89.5em) {
  .proto-comparing__container::before {
    transform: translate(0, -40%);
  }
}
@media (max-width: 47.99875em) {
  .proto-comparing__container::before {
    display: none;
  }
}
.proto-comparing__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .proto-comparing__inner {
    flex-direction: column;
  }
}
.proto-comparing__info {
  flex: 0 1 415px;
  max-width: 415px;
  width: 100%;
  margin-left: 140px;
  margin-right: 40px;
}
@media (max-width: 89.5em) {
  .proto-comparing__info {
    margin-left: 0;
  }
}
@media (max-width: 47.99875em) {
  .proto-comparing__info {
    flex: 1 1 100%;
    margin-right: 0;
    max-width: none;
    margin-bottom: 42px;
  }
}
.proto-comparing__heading {
  margin-bottom: 20px;
}
@media (max-width: 47.99875em) {
  .proto-comparing__heading {
    margin-bottom: 5px;
  }
}
.proto-comparing__content {
  flex: 0 1 805px;
  max-width: 805px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .proto-comparing__content {
    flex: 1 1 100%;
    max-width: none;
  }
}

.ordering-proto__container_1400 {
  position: relative;
}
.ordering-proto__container_1400::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 13.875rem;
  height: 111.75rem;
  transform: translate(0, -15%);
  background: url("../img/icons/vertical-wave.svg") no-repeat;
  background-size: contain;
  z-index: -1;
}
@media (max-width: 61.99875em) {
  .ordering-proto__container_1400::before {
    transform: translate(0, 0);
  }
}
@media (max-width: 47.99875em) {
  .ordering-proto__container_1400::before {
    display: none;
  }
}
.ordering-proto__info {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 80px;
}
@media (max-width: 47.99875em) {
  .ordering-proto__info {
    margin-bottom: 33px;
  }
}
.ordering-proto__heading {
  margin-bottom: 20px;
}
@media (max-width: 47.99875em) {
  .ordering-proto__heading {
    margin-bottom: 5px;
  }
}

.mobile-proto__container {
  margin-bottom: 82px;
}
@media (max-width: 47.99875em) {
  .mobile-proto__container {
    margin-bottom: 33px;
  }
}
.mobile-proto__info {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.mobile-proto__heading {
  margin-bottom: 20px;
}
@media (max-width: 47.99875em) {
  .mobile-proto__heading {
    margin-bottom: 5px;
  }
}

.brand-about__image {
  margin-bottom: 140px;
}
@media (max-width: 47.99875em) {
  .brand-about__image {
    margin-bottom: 120px;
  }
}
.brand-about__moodboard {
  margin-bottom: 150px;
}
@media (max-width: 47.99875em) {
  .brand-about__moodboard {
    margin-bottom: 120px;
  }
}
.brand-about__naming {
  margin-bottom: 150px;
}
@media (max-width: 47.99875em) {
  .brand-about__naming {
    margin-bottom: 120px;
  }
}
.brand-about__logo {
  margin-bottom: 150px;
}
@media (max-width: 47.99875em) {
  .brand-about__logo {
    margin-bottom: 120px;
  }
}
.brand-about__colors {
  margin-bottom: 150px;
}
@media (max-width: 47.99875em) {
  .brand-about__colors {
    margin-bottom: 120px;
  }
}
.brand-about__typography {
  margin-bottom: 115px;
}
@media (max-width: 47.99875em) {
  .brand-about__typography {
    margin-bottom: 120px;
  }
}
.brand-about__identity {
  margin-bottom: 150px;
}
@media (max-width: 47.99875em) {
  .brand-about__identity {
    margin-bottom: 120px;
  }
}
.brand-about__brandbook {
  margin-bottom: 140px;
}
@media (max-width: 47.99875em) {
  .brand-about__brandbook {
    margin-bottom: 120px;
  }
}

.about-image__intro {
  margin-bottom: 100px;
}
@media (max-width: 47.99875em) {
  .about-image__intro {
    margin-bottom: 80px;
  }
}
.about-image__info-block {
  max-width: 720px;
  width: 100%;
}
.about-image__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .about-image__heading {
    margin-bottom: 24px;
  }
}
.main-idea__intro {
  margin-bottom: 40px;
}
@media (max-width: 47.99875em) {
  .main-idea__intro {
    margin-bottom: 33px;
  }
}
.main-idea__inner {
  display: flex;
}
@media (max-width: 47.99875em) {
  .main-idea__inner {
    flex-direction: column;
  }
}
.main-idea__heading {
  flex: 0 1 245px;
  max-width: 245px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .main-idea__heading {
    max-width: none;
    flex: 1 1 100%;
    margin-bottom: 5px;
  }
  .main-idea__heading_50 {
    margin-bottom: 50px;
  }
}
.main-idea__info {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 47.99875em) {
  .main-idea__info {
    flex-direction: column;
    flex: 1 1 100%;
  }
}
.main-idea__text {
  flex: 0 1 420px;
  max-width: 420px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .main-idea__text {
    flex: 1 1 100%;
    max-width: none;
  }
  .main-idea__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
.main-idea__content {
  margin-bottom: 120px;
}
@media (max-width: 47.99875em) {
  .main-idea__content {
    margin-bottom: 80px;
  }
}
.main-idea__row {
  display: flex;
  justify-content: center;
  margin: 0 -25px;
}
@media (max-width: 47.99875em) {
  .main-idea__row {
    flex-direction: column;
  }
}
.main-idea__column {
  padding: 0 25px;
  flex: 0 1 620px;
  max-width: 620px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .main-idea__column {
    flex: 1 1 100%;
    max-width: none;
  }
  .main-idea__column:first-child {
    margin-bottom: 16px;
  }
}
.main-idea__decision {
  margin-bottom: 100px;
  padding-left: 85px;
}
@media (max-width: 89.5em) {
  .main-idea__decision {
    padding-left: 0;
  }
}
@media (max-width: 47.99875em) {
  .main-idea__decision {
    margin-bottom: 80px;
  }
}
.main-idea__decision span {
  color: #feff55;
}
.main-idea__example {
  padding-left: 85px;
}
@media (max-width: 89.5em) {
  .main-idea__example {
    padding-left: 0;
  }
}

.about-moonboard__intro {
  margin-bottom: 70px;
}
@media (max-width: 47.99875em) {
  .about-moonboard__intro {
    margin-bottom: 24px;
  }
}
.about-moonboard__info-block {
  max-width: 720px;
  width: 100%;
}
.about-moonboard__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .about-moonboard__heading {
    margin-bottom: 24px;
  }
}

.about-naming__container {
  background: url("../img/icons/hatka-big-name.svg") no-repeat;
  background-size: 1160px 365px;
  background-position: top 50px left;
}
@media (max-width: 89.5em) {
  .about-naming__container {
    background-size: contain;
  }
}
@media (max-width: 47.99875em) {
  .about-naming__container {
    background: none;
  }
}
.about-naming__intro {
  padding: 0 27px;
}
@media (max-width: 89.5em) {
  .about-naming__intro {
    padding: 0;
  }
}
@media (max-width: 47.99875em) {
  .about-naming__intro {
    margin-bottom: 65px;
  }
}
.about-naming__box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .about-naming__box {
    flex-direction: column;
  }
}
.about-naming__main-info {
  flex: 0 1 420px;
  max-width: 420px;
  width: 100%;
  margin-right: 30px;
}
@media (max-width: 47.99875em) {
  .about-naming__main-info {
    flex: 1 1 100%;
    max-width: none;
    margin-right: 0;
    margin-bottom: 64px;
  }
}
.about-naming__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .about-naming__heading {
    margin-bottom: 24px;
  }
}
.about-naming__aside-info {
  padding-top: 50px;
  margin-right: 50px;
  flex: 0 1 400px;
  max-width: 400px;
  width: 100%;
}
@media (max-width: 89.5em) {
  .about-naming__aside-info {
    padding-right: 0;
  }
}
@media (max-width: 47.99875em) {
  .about-naming__aside-info {
    padding-top: 0;
    flex: 1 1 100%;
    max-width: none;
  }
}
.aside-info__inner {
  display: flex;
}
.aside-info__image {
  margin-right: 26px;
}
@media (max-width: 29.99875em) {
  .aside-info__image {
    margin-right: 16px;
  }
}
.aside-info__list li {
  white-space: nowrap;
}
@media (max-width: 29.99875em) {
  .aside-info__list li {
    white-space: normal;
  }
}

.naming-content {
  padding-left: 55px;
  max-width: 1095px;
}
@media (max-width: 89.5em) {
  .naming-content {
    padding-left: 0;
    margin: 0 auto;
  }
}
.naming-content__title {
  margin-bottom: 20px;
}
.naming-content__row {
  display: flex;
  margin: 0 -12px;
}
@media (max-width: 47.99875em) {
  .naming-content__row {
    flex-direction: column;
    margin: 0;
  }
}
.naming-content__item {
  padding: 0 12px;
  flex: 0 1 347px;
  max-width: 347px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .naming-content__item {
    flex: 1 1 100%;
    max-width: none;
    padding: 0;
  }
  .naming-content__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
.about-logo__top {
  margin-bottom: 86px;
}
@media (max-width: 47.99875em) {
  .about-logo__top {
    margin-bottom: 40px;
  }
}
.about-logo__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .about-logo__inner {
    flex-direction: column;
  }
}
.about-logo__info {
  flex: 0 1 420px;
  max-width: 420px;
  width: 100%;
  margin-right: 30px;
  margin-top: 30px;
}
@media (max-width: 47.99875em) {
  .about-logo__info {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 24px;
    flex: 1 1 100%;
    max-width: none;
  }
}
.about-logo__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .about-logo__heading {
    margin-bottom: 24px;
  }
}
.about-logo__logo {
  flex: 0 1 556px;
  max-width: 556px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .about-logo__logo {
    flex: 1 1 100%;
    max-width: none;
  }
}

.about-colors__container {
  position: relative;
}
.about-colors__container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  max-width: 870px;
  max-height: 547px;
  width: 100%;
  height: 100%;
  background: url("../img/icons/yoldi-waved-big.svg") no-repeat;
  transform: translate(-15%, 5%);
}
@media (max-width: 89.5em) {
  .about-colors__container::before {
    transform: translate(0px, 0px);
  }
}
@media (max-width: 47.99875em) {
  .about-colors__container::before {
    background: none;
  }
}
.about-colors__intro {
  max-width: 720px;
  width: 100%;
  margin-bottom: 62px;
  position: relative;
  z-index: 1;
}
@media (max-width: 47.99875em) {
  .about-colors__intro {
    margin-bottom: 80px;
  }
}
.about-colors__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .about-colors__heading {
    margin-bottom: 24px;
  }
}
.about-colors__content {
  position: relative;
  z-index: 1;
}
.about-colors__line:not(:last-child) {
  margin-bottom: 52px;
}
@media (max-width: 47.99875em) {
  .about-colors__line:not(:last-child) {
    margin-bottom: 80px;
  }
}

.color-line__inner {
  display: flex;
}
@media (max-width: 47.99875em) {
  .color-line__inner {
    flex-direction: column-reverse;
  }
}
.color-line__heading {
  margin-bottom: 20px;
}
@media (max-width: 47.99875em) {
  .color-line__heading {
    margin-bottom: 5px;
  }
}
.color-line__pallet {
  flex: 0 1 610px;
  max-width: 610px;
  width: 100%;
  margin-right: 50px;
}
@media (max-width: 47.99875em) {
  .color-line__pallet {
    margin-right: 0;
    flex: 1 1 100%;
    max-width: none;
  }
}
.color-line__info {
  flex: 0 1 460px;
  max-width: 460px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .color-line__info {
    flex: 1 1 100%;
    max-width: none;
    margin-bottom: 33px;
  }
}

.about-typography {
  position: relative;
}
.about-typography::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 950px;
  top: 50%;
  right: 20%;
  transform: translate(0%, -40%);
  display: inline-block;
  background: url("../img/icons/vertical-wave-2.svg") no-repeat;
}
.about-typography__intro {
  margin-bottom: 70px;
}
@media (max-width: 47.99875em) {
  .about-typography__intro {
    margin-bottom: 24px;
  }
}
.about-typography__container {
  position: relative;
  z-index: 1;
}
.about-typography__info-block {
  max-width: 720px;
  width: 100%;
}
.about-typography__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .about-typography__heading {
    margin-bottom: 24px;
  }
}
.about-typography__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media (max-width: 61.99875em) {
  .about-typography__inner {
    flex-direction: column;
  }
}
.about-typography__part {
  flex: 0 1 50%;
  min-height: 100%;
}
.about-typography__part:first-child {
  margin-right: 40px;
}
@media (max-width: 89.5em) {
  .about-typography__part:first-child {
    margin-right: 20px;
  }
}
@media (max-width: 61.99875em) {
  .about-typography__part:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media (max-width: 61.99875em) {
  .about-typography__part {
    flex: 1 1 100%;
  }
}

.typo-part {
  padding: 60px 60px 53px;
  background: #40404c;
}
@media (max-width: 47.99875em) {
  .typo-part {
    padding: 40px 16px;
  }
}
.typo-part__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.typo-part__info-block {
  flex: 1 1 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.typo-part__info-block_narrow {
  max-width: 350px;
}
@media (max-width: 61.99875em) {
  .typo-part__info-block_narrow {
    max-width: none;
  }
}
.typo-part__heading {
  margin-bottom: 36px;
}
.typo-part__heading span {
  color: #505060;
}
@media (max-width: 47.99875em) {
  .typo-part__heading {
    margin-bottom: 29px;
  }
}
.typo-part__body {
  flex: 1 1 auto;
}

.about-identity__row {
  display: flex;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .about-identity__row {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.about-identity__content {
  flex: 0 1 680px;
  max-width: 680px;
  width: 100%;
  margin-right: 120px;
}
@media (max-width: 89.5em) {
  .about-identity__content {
    margin-right: 100px;
  }
}
@media (max-width: 61.99875em) {
  .about-identity__content {
    margin-right: 50px;
  }
}
@media (max-width: 47.99875em) {
  .about-identity__content {
    margin-right: 0;
    flex: 1 1 100%;
    max-width: none;
  }
}
.about-identity__info {
  flex: 0 1 420px;
  max-width: 420px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .about-identity__info {
    flex: 1 1 100%;
    max-width: none;
    margin-bottom: 24px;
  }
}
.about-identity__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .about-identity__heading {
    margin-bottom: 24px;
  }
}

.about-brandbook {
  position: relative;
  z-index: 1;
}
.about-brandbook__inner {
  display: flex;
  align-items: stretch;
}
@media (max-width: 37.5em) {
  .about-brandbook__inner {
    flex-direction: column-reverse;
  }
}
.about-brandbook__card {
  position: relative;
  flex: 0 1 560px;
  max-width: 560px;
  width: 100%;
  padding: 100px 140px 150px;
  background: #40404d;
}
@media (max-width: 89.5em) {
  .about-brandbook__card {
    padding: 80px 80px 100px;
  }
}
@media (max-width: 61.99875em) {
  .about-brandbook__card {
    padding: 80px 18px 47px;
  }
}
@media (max-width: 47.99875em) {
  .about-brandbook__card {
    flex: 1 1 100%;
    max-width: none;
    height: auto;
  }
}
.about-brandbook__card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 83.9285714286%;
  height: 38.75%;
  transform: translate(-50%, -10%);
  display: inline-block;
  background: url("../img/icons/pdf.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 61.99875em) {
  .about-brandbook__card::before {
    top: 0;
    transform: translate(-50%, 10px);
  }
}
.about-brandbook__body {
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}
@media (max-width: 47.99875em) {
  .about-brandbook__body {
    margin-bottom: 34px;
  }
}
.about-brandbook__heading {
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
}
.about-brandbook__button {
  position: relative;
  z-index: 1;
}
.about-brandbook__content {
  min-height: 100%;
  width: 100%;
}
.about-brandbook__image-ibg {
  height: 100%;
  padding-bottom: 82.5123152709%;
}

.design-about__main-page {
  margin-bottom: 150px;
}
@media (max-width: 47.99875em) {
  .design-about__main-page {
    margin-bottom: 120px;
  }
}
.design-about__goods-page {
  margin-bottom: 70px;
}
@media (max-width: 47.99875em) {
  .design-about__goods-page {
    margin-bottom: 120px;
  }
}
.design-about__comparing-page {
  margin-bottom: 0;
}
@media (max-width: 61.99875em) {
  .design-about__comparing-page {
    margin-bottom: 120px;
  }
}
.design-about__grid {
  margin-top: 150px;
  margin-bottom: 150px;
}
@media (max-width: 61.99875em) {
  .design-about__grid {
    margin-top: 0;
    margin-bottom: 120px;
  }
}
.design-about__styles {
  margin-bottom: 150px;
}
@media (max-width: 61.99875em) {
  .design-about__styles {
    margin-bottom: 120px;
  }
}

.main-page-design__intro {
  margin-bottom: 55px;
}
@media (max-width: 47.99875em) {
  .main-page-design__intro {
    margin-bottom: 24px;
  }
}
.main-page-design__info-block {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 47.99875em) {
  .main-page-design__info-block {
    flex-direction: column;
  }
}
.main-page-design__heading {
  flex: 0 1 360px;
  max-width: 360px;
  width: 100%;
  margin-right: 73px;
}
@media (max-width: 89.5em) {
  .main-page-design__heading {
    margin-right: 40px;
  }
}
@media (max-width: 47.99875em) {
  .main-page-design__heading {
    flex: 1 1 100%;
    max-width: none;
    margin-bottom: 24px;
    margin-right: 0;
  }
}
.main-page-design__body {
  flex: 0 1 450px;
  max-width: 450px;
  width: 100%;
  padding-top: 15px;
}
.main-page-design__body_short {
  flex: 0 1 350px;
  max-width: 350px;
  width: 100%;
}
@media (max-width: 89.5em) {
  .main-page-design__body {
    padding-top: 0;
  }
}
@media (max-width: 47.99875em) {
  .main-page-design__body {
    flex: 1 1 100%;
    max-width: none;
  }
}

.goods-page-design_bg {
  position: relative;
}
.goods-page-design_bg::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 700px;
  height: 1890px;
  top: 0;
  right: 0;
  background: url("../img/hatka/design/goods/bg.png") no-repeat;
  background-size: contain;
  transform: translate(-36%, 50px);
  z-index: -1;
}
@media (max-width: 61.99875em) {
  .goods-page-design_bg::before {
    display: none;
  }
}
.goods-page-design__intro {
  margin-bottom: 45px;
}
@media (max-width: 47.99875em) {
  .goods-page-design__intro {
    margin-bottom: 24px;
  }
}

.comparing-page-design {
  background: url("../img/icons/yoldi-waved-big.svg") no-repeat;
  background-position: left -5% center;
  background-size: 38% auto;
}
.comparing-page-design__row {
  display: flex;
}
@media (max-width: 47.99875em) {
  .comparing-page-design__row {
    flex-direction: column;
  }
}
.comparing-page-design__intro {
  flex: 0 1 350px;
  max-width: 350px;
  width: 100%;
  margin-right: 46px;
  margin-left: 140px;
}
@media (max-width: 89.5em) {
  .comparing-page-design__intro {
    margin-right: 25px;
    margin-left: 0;
  }
}
@media (max-width: 47.99875em) {
  .comparing-page-design__intro {
    margin-right: 0;
    margin-bottom: 24px;
    max-width: none;
    flex: 1 1 100%;
  }
}
.comparing-page-design__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .comparing-page-design__heading {
    margin-bottom: 24px;
  }
}
.comparing-page-design__content {
  flex: 0 1 867px;
  max-width: 867px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .comparing-page-design__content {
    flex: 1 1 100%;
    max-width: none;
  }
}

.grid-design__intro {
  margin-left: 120px;
}
@media (max-width: 89.5em) {
  .grid-design__intro {
    margin-left: 0;
  }
}
@media (max-width: 61.99875em) {
  .grid-design__intro {
    margin-bottom: 24px;
  }
}
.grid-design__inner {
  display: flex;
}
@media (max-width: 61.99875em) {
  .grid-design__inner {
    flex-direction: column;
  }
}
.grid-design__info {
  flex: 0 1 350px;
  max-width: 350px;
  width: 100%;
  margin-right: 50px;
}
@media (max-width: 89.5em) {
  .grid-design__info {
    margin-right: 20px;
  }
}
@media (max-width: 61.99875em) {
  .grid-design__info {
    margin-right: 0;
    margin-bottom: 24px;
    flex: 1 1 100%;
    max-width: none;
  }
}
.grid-design__schema {
  flex: 0 1 840px;
  max-width: 840px;
  width: 100%;
}
@media (max-width: 61.99875em) {
  .grid-design__schema {
    flex: 1 1 100%;
    max-width: none;
  }
}
.grid-design__content {
  margin-top: -20px;
}
@media (max-width: 47.99875em) {
  .grid-design__content {
    margin-top: 0;
  }
}

.styles-design__container {
  position: relative;
}
.styles-design__container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url("../img/icons/horizontal-wave.svg") no-repeat;
  background-position: bottom;
}
@media (max-width: 47.99875em) {
  .styles-design__container::before {
    display: none;
  }
}
.styles-design__inner {
  position: relative;
  z-index: 1;
  display: flex;
}
@media (max-width: 47.99875em) {
  .styles-design__inner {
    flex-direction: column-reverse;
  }
}
.styles-design__content {
  flex: 0 1 700px;
  max-width: 700px;
  width: 100%;
  margin-right: 70px;
}
@media (max-width: 89.5em) {
  .styles-design__content {
    margin-right: 30px;
  }
}
@media (max-width: 47.99875em) {
  .styles-design__content {
    margin-right: 0;
    flex: 1 1 100%;
    max-width: none;
  }
}
.styles-design__info {
  flex: 0 1 350px;
  max-width: 350px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .styles-design__info {
    flex: 1 1 100%;
    max-width: none;
    margin-bottom: 24px;
  }
}
.styles-design__heading {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .styles-design__heading {
    margin-bottom: 24px;
  }
}
